$primary-background: #222629;
$primary-accent: #86C232;
$primary-text: #F5F5F4;

$secondary-accent: #61892F;
$secondary-background: #474B4F;

$tertiatry-background: #6B6E70;
$tertiary-accent: #710000;